<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item label="xterm">
			<action name="Execute">
				<execute>xterm</execute>
			</action>
		</item>
		<item label="emacs">
			<action name="Execute">
				<execute>emacs</execute>
			</action>
		</item>
		<item label="zathura">
			<action name="Execute">
				<execute>zathura</execute>
			</action>
		</item>
		<item label="thunar">
			<action name="Execute">
				<execute>thunar</execute>
			</action>
		</item>
		<item label="mail">
			<action name="Execute">
				<execute>thunderbird</execute>
			</action>
		</item>
		<item label="firefox">
			<action name="Execute">
				<execute>firefox</execute>
			</action>
		</item>
		<menu id="/Debian"/>
		<!-- This requires the presence of the 'openbox-menu' package to work -->
		<separator/>
		<menu execute="/usr/bin/obamenu" id="applications-menu" label="Applications"/>
		<separator/>
		<item label="ObConf">
			<action name="Execute">
				<execute>obconf</execute>
			</action>
		</item>
		<item label="ObMenu">
			<action name="Execute">
				<execute>obmenu</execute>
			</action>
		</item>
		<item label="Reconfigure">
			<action name="Reconfigure"/>
		</item>
		<item label="Restart">
			<action name="Restart"/>
		</item>
		<separator/>
		<item label="Sleep">
			<action name="Execute">
				<execute>systemctl suspend</execute>
			</action>
		</item>
		<item label="Exit">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
